@using EnglishNowDemo.Web.ViewModels.Menu
@model IList<EnglishNowDemo.Web.ViewModels.Turma.ListarViewModel>
@{
    ViewData["Title"] = "Listar Turmas";

    ViewData["Menu"] = Menu.Turma;
}

<h1 class="py-4">Lista de Turmas</h1>

<div class="d-flex py-2">
    <a class="btn btn-primary" asp-controller="Turma" asp-action="Criar">Nova</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Professor</th>
                <th scope="col">Semestre/Ano</th>
                <th scope="col">Período</th>
                <th scope="col">Nível</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@turma.Id</td>
                    <td>@turma.Professor</td>
                    <td>@turma.SemestreAno</td>
                    <td>@turma.Periodo</td>
                    <td>@turma.Nivel</td>
                    <td><a class="link-underline link-underline-opacity-0" asp-controller="Turma" asp-action="Editar" asp-route-id="@turma.Id">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

